table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ccc;
  padding: 4px;
  text-align: center;
}

thead th {
  background-color: #f0fafa;
}

td.yellow {
  background-color: yellow;
}
